@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

// Font Size
@type-micro: 8px;
@type-smallest: 11px;
@type-smaller: 12px;
@type-small: 14px;
@type-base: 16px;
@type-large: 18px;
@type-larger: 20px;
@type-largest: 25px;
@type-jumbo: 30px;

// Font Family
@font-base: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;